@model IEnumerable<EmployeeFeedbackWebApp.Models.FeedbackCycle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Name of Cycle
        </th>
       <!--- <th>
          @*  @Html.DisplayNameFor(model => model.MidYearFeedbackCycleId) *@
        </th> -->
       <!-- <th>
           @* @Html.DisplayNameFor(model => model.EOYFeedbackCycleId) *@
        </th> -->
        <th>
            Active / Inactive
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FeedbackCycleName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MidYearFeedbackCycleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOYFeedbackCycleId)
        </td> *@
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeedBackCycleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeedBackCycleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeedBackCycleId })
        </td>
    </tr>
}

</table>
