@model IEnumerable<EmployeeFeedbackWebApp.Models.EndOfYearFeedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    var users = (List<UserViewModel>)ViewData["MyUsers"];
    var cycles = (List<FeedbackCycleViewModel>)ViewData["EOY"];
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           @* @Html.DisplayNameFor(model => model.EOYOverallPerf) *@
            End of Year Overall
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.EOYCommentsPositive) *@
            What Went Well
        </th>
        <th>
            @*  @Html.DisplayNameFor(model => model.EOYCommentsImprove) *@
            Room for Improvement
        </th>
        <th>
            @*  @Html.DisplayNameFor(model => model.EOYFeedbackCycleId) *@
            Cycle Name
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.FeedbackAssignment.FeedbackAssignmentId) *@
            Assigned To
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EOYOverallPerf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOYCommentsPositive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOYCommentsImprove)
        </td>
        <td>
          @*   @Html.DisplayFor(modelItem => item.EOYFeedbackCycleId) *@
            @if(@cycles != null)
            {
                foreach (var c in @cycles)
                {
                    if(item.EOYFeedbackCycleId == c.FeedbackCycleId)
                    {
                        @c.FeedbackCycleName
                    }
                }
            }
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.FeedbackAssignment.FeedbackAssignmentId) *@
            @if (@users != null)
            {
                foreach (var u in @users)
                {
                    if(item.FeedbackAssignment.FeedbackAssignmentId == u.UserId)
                    {
                        @u.FullName
                    }
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EOYFeedbackId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EOYFeedbackId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EOYFeedbackId })
        </td>
    </tr>
}

</table>
